* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', sans-serif;
}

body,
html {
    width: 100%;
    height: auto;
}


/* nav bar design */

.navs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100%;
    height: auto;
    background-color: rgb(199, 223, 233);
}

.navs .left a {
    font-weight: 600;
    text-decoration: none;
}

.navs .right {
    display: flex;
    justify-content: space-between;
}

.navs .right h6 {
    padding-right: 20px;
    font-weight: 600;
}

.navs .right svg {
    display: none;
}

.mobile-menu {
    display: none;
    padding: 10px 30px;
    background-color: rgb(199, 223, 233);
    color: rgb(51, 95, 244);
}

@media (max-width: 420px) {
    .navs {
        width: 100%;
        height: auto;
    }
    .navs .right>h6 {
        display: none;
    }
    .navs .right svg {
        display: block;
    }
    .active {
        display: block;
    }
}

@media (max-width: 800px) {
    .navs {
        width: 100%;
        height: auto;
    }
    .navs .right>h6 {
        display: none;
    }
    .navs .right svg {
        display: block;
    }
    .active {
        display: block;
    }
}

@media (max-width: 1240px) {
    .navs {
        width: 100%;
        height: auto;
    }
}


/* hero design */

.hero {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;
    background-color: rgb(51, 95, 244);
    color: #fff;
}

.hero .hero_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    margin-right: 80px;
}

.hero .hero_left h2 {
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: 600;
}

.hero .hero_left p {
    padding-bottom: 20px;
    font-weight: 500;
}

.hero .hero_left button {
    padding: 5px 70px;
    border: none;
    outline: none;
    border-radius: 20px;
    color: rgb(51, 95, 244);
    font-weight: 600;
}

.hero .hero_right {
    width: 31%;
    height: 361px;
    position: relative;
}

.hero .hero_right .hero_image {
    width: 100%;
    height: 227px;
    margin-top: 80px;
    background-image: linear-gradient(to right, rgb(123, 153, 255), rgb(174, 190, 251));
    position: relative;
    border-radius: 8px;
    box-shadow: 60px -90px 1px 12px rgb(48, 90, 232);
}

.hero .hero_right .hero_image div {
    width: 100%;
    object-fit: contain;
    position: absolute;
    top: 5%;
    bottom: 10px;
    transform: translate(7px, -78px);
}

.hero .hero_right .hero_image img {
    transform: scaleX(-1);
    object-fit: contain;
}

@media (max-width: 420px) {
    .hero {
        width: 100%;
        flex-wrap: wrap;
    }
    .hero .hero_left {
        width: 100%;
    }
    .hero .hero_left button {
        margin-bottom: 10px;
    }
}

@media (max-width: 800px) {
    .hero {
        width: 100%;
        flex-wrap: wrap;
        padding: 40px 25px;
    }
    .hero .hero_left {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 5px;
        margin-right: 25px;
    }
    .hero .hero_left div {
        width: 100%;
        text-align: center;
    }
    .hero .hero_right {
        width: 31%;
        height: 313px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: relative;
    }
    .hero .hero_right .hero_image {
        width: 170px;
        height: 205px;
        transform: translate(-70px, 3px);
        margin-top: 133px;
        margin-right: 46px;
        border-radius: 8px;
        box-shadow: 60px -90px 1px 12px rgb(48, 90, 232);
    }
    .hero .hero_right .hero_image div {
        position: absolute;
        top: 5%;
        bottom: 76px;
        transform: translate(-19px, -69px);
    }
    .hero .hero_right .hero_image img {
        width: 200px;
        transform: scaleX(-1);
        object-fit: contain;
    }
}


/* featured */

.featured {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgb(199, 223, 233);
    padding: 40px 60px;
}

.featured .featured_top {
    padding-top: 20px;
}

.featured .featured_bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.featured .featured_bottom .featured_bottom_top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured .featured_bottom .feature-txt {
    padding-top: 15px;
    font-size: 50px;
    color: rgb(78, 78, 235);
}

.featured .featured_bottom .feature-txt span {
    margin-right: 50px;
}

.featured .featured_bottom .feature-txt .bold-txt {
    font-weight: bolder;
}

.featured .featured_bottom .feature-txt .economic-txt {
    font-weight: 300;
    font-variant: small-caps;
}

.featured .featured_bottom .feature-txt .uppercase-txt {
    text-transform: uppercase;
    font-weight: 400;
}

.featured .featured_bottom .featured_bottom_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 420px) {
    .featured {
        width: 100%;
        height: auto;
    }
    .featured .featured_bottom .feature-txt {
        font-size: 30px;
    }
    .featured .featured_bottom .feature-txt span {
        margin-right: 15px;
    }
}

@media (max-width: 800px) {
    .featured {
        width: 100%;
        height: auto;
    }
    .featured .featured_bottom .feature-txt {
        font-size: 30px;
    }
    .featured .featured_bottom .feature-txt span {
        margin-right: 15px;
    }
}


/* about me */

.about_me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 40px 200px;
    text-align: center;
    background-color: rgb(199, 223, 233);
}

.about_me>div {
    margin-bottom: 20px;
}

.about_me h3 {
    font-weight: 600;
}

.about_me>div>p {
    margin: 0;
}

.about_me .aboutme_hero {
    background-color: antiquewhite;
    border-radius: 50%;
    height: auto;
    border: 15px solid white;
}

.about_me .aboutme_hero>div {
    background-color: rgb(199, 223, 233);
    border-radius: 50%;
    border: 4px solid rgb(206, 214, 255);
    width: 100%;
    height: auto;
}

.about_me .social_media {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.about_me .social_media>div {
    padding: 7px;
    margin-right: 20px;
    width: 100%;
    background-color: rgb(51, 95, 244);
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

@media (max-width: 420px) {
    .about_me {
        padding: 40px 25px;
        width: 100%;
        height: auto;
    }
    .about_me .aboutme_hero img {
        width: 200px;
    }
}

@media (max-width: 800px) {
    .about_me {
        padding: 40px 25px;
        width: 100%;
        height: auto;
    }
    .about_me .aboutme_hero img {
        width: 200px;
    }
}


/* services */

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 30px 60px;
    background-color: rgb(199, 223, 233);
}

.services .services_top {
    text-align: center;
    padding-bottom: 40px;
}

.services .services_top h1 {
    font-weight: 600;
}

.services .services_center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.services .services_center>div {
    margin-right: 20px;
}

.services .services_center button {
    padding: 10px 50px;
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 2rem;
    margin-bottom: 10px;
}

.services .services_center button:hover {
    background-color: rgb(51, 95, 244);
    color: #fff;
}

.services .services_bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services .services_center .active_service {
    width: 120px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px 20px 20px 20px;
    color: white;
    background-color: rgb(51, 95, 244);
    border-color: gray;
    font-size: 14px;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.services .services_bottom .community {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
    width: 100%;
}

.services .services_bottom .community .community_left {
    padding-right: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.services .services_bottom .community .community_left>ul {
    list-style: none;
}

.services .services_bottom .community .community_left>ul li {
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.services .services_bottom .community .community_left>ul li i {
    margin-right: 10px;
}

.services .services_bottom .community .community_left button {
    margin-top: 30px;
    border: none;
    outline: none;
    background-color: rgb(51, 95, 244);
    color: #fff;
    border-radius: 50px;
    padding: 10px 80px;
}

.services .services_bottom .community .community_right {
    width: 45%;
    height: auto;
}

.services .services_bottom .community .community_right .community_hero {
    width: 100%;
    padding: 20px 15px 0px 15px;
    background-image: linear-gradient(to bottom right, rgb(91, 127, 246), rgb(134, 159, 243));
    border-radius: 20px;
}

.services .services_bottom .community .community_right .community_hero img {
    width: 100%;
    object-fit: contain;
    height: auto;
}

.services .services_bottom .courses {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px 0px 60px 10px;
}

.services .services_bottom .courses .courses_list {
    background-color: #fff;
    border-radius: 20px;
    margin-right: 40px;
    width: 100%;
    padding: 10px 10px 30px 10px;
}

.services .services_bottom .courses .courses_list img {
    width: 100%;
    object-fit: contain;
    margin-bottom: 10px;
}

.services .services_bottom .courses .courses_list button {
    border: none;
    outline: none;
    width: 100%;
    padding: 10px 0;
    border-radius: 20px;
    background-color: rgb(51, 95, 244);
    color: #fff;
}

.services .services_bottom .consulatation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.services .services_bottom .consulatation .cons_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 20px;
    margin-right: 20px;
    height: auto;
    padding: 10px 10px 30px 20px;
}

.services .services_bottom .consulatation .cons_list .cons_top {
    background-color: rgb(206, 214, 255);
    color: rgb(48, 90, 232);
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.services .services_bottom .consulatation .cons_list .cons_center h3 {
    font-weight: 500;
    margin-bottom: 10px;
}

.services .services_bottom .consulatation .cons_list .cons_center>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.services .services_bottom .consulatation .cons_list .cons_center>div .calender {
    display: flex;
}

.services .services_bottom .consulatation .cons_list .cons_center>div .calender svg {
    margin-right: 5px;
}

.services .services_bottom .consulatation .cons_list .cons_center>div .clock {
    display: flex;
}

.services .services_bottom .consulatation .cons_list .cons_center>div .clock svg {
    margin-right: 5px;
}

.services .services_bottom .consulatation .cons_list .cons_center>div .fees {
    display: flex;
    margin-right: 10px;
}

.services .services_bottom .consulatation .cons_list .cons_center>div .fees svg {
    margin-right: 5px;
}

.services .services_bottom .consulatation .cons_list .cons_bottom {
    width: 100%;
}

.services .services_bottom .consulatation .cons_list .cons_bottom>button {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px 0;
    color: #fff;
    background-color: rgb(51, 95, 244);
}

@media (max-width:420px) {
    .services {
        width: 100%;
        height: auto;
    }
    .services .services_center button {
        padding: 5px 9px;
        margin: 10px;
    }
    .services .services_bottom .community {
        flex-wrap: wrap;
        width: 100%;
    }
    .services .services_bottom .community .community_right .community_hero img {
        width: 201px;
    }
    .services .services_bottom .courses {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0px 30px;
    }
    .services .services_bottom .courses .courses_list {
        width: 100%;
        margin: 10px 0;
    }
    .services .services_bottom .consulatation {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0px 30px;
    }
    .services .services_bottom .consulatation .cons_list {
        margin: 10px 0;
        width: 100%;
    }
}

@media (max-width:800px) {
    .services {
        width: 100%;
        height: auto;
    }
    .services .services_center button {
        padding: 5px 9px;
        margin: 10px;
    }
    .services .services_bottom .community {
        flex-wrap: wrap;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
    .services .services_bottom .community .community_left {
        margin-bottom: 30px;
        padding-right: 15px;
    }
    .services .services_bottom .community .community_left button {
        padding: 10px 94px;
    }
    .services .services_bottom .community .community_right {
        width: 100%;
        height: auto;
    }
    .services .services_bottom .community .community_right .community_hero {
        width: 100%;
        padding: 66px 70px 4px 67px;
    }
    .services .services_bottom .community .community_right .community_hero img {
        width: 201px;
    }
    .services .services_bottom .courses {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0px 30px;
    }
    .services .services_bottom .courses .courses_list {
        width: 100%;
        margin: 10px 0;
    }
    .services .services_bottom .consulatation {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0px 30px;
    }
    .services .services_bottom .consulatation .cons_list {
        margin: 10px 0;
        width: 100%;
    }
}


/* testimonial design */

.testimonial {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: rgb(199, 223, 233);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial .test_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.testimonial .test_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0px 20px;
    padding: 0px 50px;
}

.testimonial .test_bottom .test_bottom_list {
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px 30px;
    border-radius: 30px;
    background-color: #fff;
}

.testimonial .test_bottom .test_bottom_list .test_hero {
    border-radius: 50%;
    width: 50%;
    margin-bottom: 10px;
}

.testimonial .test_bottom .test_bottom_list .test_hero>img {
    border-radius: 50%;
    width: 53px;
    height: 45px;
}

@media (max-width: 420px) {
    .testimonial {
        width: 100%;
        height: auto;
        padding: 0px 20px;
        text-align: center;
    }
    .testimonial .test_bottom {
        overflow-x: auto;
        overflow-y: hidden;
        padding: 0px 4px;
    }
    .testimonial .test_bottom .test_bottom_list {
        padding: 10px 113px;
        width: 100%;
    }
}

@media (max-width: 800px) {
    .testimonial {
        width: 100%;
        height: auto;
        padding: 0px 20px;
        text-align: center;
    }
    .testimonial .test_bottom {
        overflow-x: auto;
        overflow-y: hidden;
        padding: 27px 4px;
    }
    .testimonial .test_bottom .test_bottom_list {
        padding: 10px 113px;
        width: 100%;
        margin: 10px 13px;
        border-radius: 16px;
    }
    .testimonial .test_bottom .test_bottom_list .test_hero {
        width: 100%;
    }
}


/* media section design */

.media-section {
    width: 100%;
    background-color: rgb(199, 223, 233);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}

.media-section .media_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.media-section .media_bottom {
    border-radius: 50px;
}

.media-section .media_bottom img {
    border-radius: 30px;
    width: 1000px;
    height: 500px;
}

@media (max-width: 420px) {
    .media-section {
        width: 100%;
        height: auto;
    }
    .media-section .media_top {
        text-align: center;
    }
    .media-section .media_bottom {
        width: 100%;
        height: auto;
    }
    .media-section .media_bottom img {
        width: 100%;
        height: 350px;
        padding: 0 30px;
        border-radius: 130px;
    }
}

@media (max-width: 800px) {
    .media-section {
        width: 100%;
        height: auto;
    }
    .media-section .media_top {
        padding: 10px 30px;
        text-align: center;
    }
    .media-section .media_bottom {
        width: 100%;
        height: auto;
    }
    .media-section .media_bottom img {
        width: 100%;
        height: 350px;
        padding: 0 30px;
        border-radius: 130px;
    }
}

@media (max-width: 1050px) {
    .media-section {
        width: 100%;
        height: auto;
    }
    .media-section .media_bottom {
        width: 100%;
        height: auto;
    }
    .media-section .media_bottom img {
        width: 100%;
        height: 350px;
        padding: 0 30px;
        border-radius: 112px;
    }
}


/* demo design */

.demo {
    width: 100%;
    height: auto;
    background-color: rgb(199, 223, 233);
}

.demo .demo_curve {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: rgb(51, 95, 244);
    padding: 80px 30px;
}

.demo .demo_curve .demo_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    text-align: center;
    width: 100%;
}

.demo .demo_curve .demo_top h1 {
    font-weight: 600;
    margin-bottom: 20px;
}

.demo .demo_curve .demo_top button {
    border: none;
    outline: none;
    padding: 10px 70px;
    border-radius: 25px;
    background-color: #fff;
    margin-bottom: 20px;
    color: rgb(51, 95, 244);
    font-weight: 600;
}

.demo .demo_curve .demo_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.demo .demo_curve .demo_bottom>div {
    margin-right: 10px;
}

@media (max-width: 420px) {
    .demo {
        width: 100%;
        height: auto;
    }
    .demo .demo_curve {
        width: 100%;
        height: auto;
        padding: 10px 30px;
    }
    .demo .demo_curve .demo_bottom {
        width: 100%;
        height: auto;
    }
    .demo .demo_curve .demo_bottom img {
        width: 79px;
        height: 150px;
    }
}

@media (max-width: 800px) {
    .demo {
        width: 100%;
        height: auto;
    }
    .demo .demo_curve .demo_bottom {
        width: 100%;
        height: auto;
    }
    .demo .demo_curve .demo_bottom img {
        width: 79px;
        height: 150px;
    }
    .demo .demo_curve .demo_bottom .image7 {
        width: 300px;
        height: 150px;
    }
}

@media (max-width: 1050px) {
    .demo {
        width: 100%;
        height: auto;
    }
    .demo .demo_curve .demo_bottom {
        width: 100%;
        height: auto;
        padding: 0px 10px 40px 10px;
    }
    .demo .demo_curve .demo_bottom img {
        width: 98px;
        height: 150px;
        padding-left: 20px;
    }
    .demo .demo_curve .demo_bottom .image7 {
        width: 300px;
        height: 150px;
    }
}


/* Contact design */

.contact-us {
    width: 100%;
    background-color: #fff;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
}

.contact-us .contact_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.contact-us .contact_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-us .contact_bottom .contact_details {
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-us .contact_bottom .contact_details>div {
    margin-right: 10px;
}

.contact-us .contact_bottom .contact_details .svg_file {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(51, 95, 244);
    background-color: rgb(199, 223, 233);
}

.contact-us .contact_bottom .contact_details .svg_file svg {
    width: 30px;
    height: 80px;
}

.contact-us .contact_bottom .contact_details h6 {
    color: rgb(214, 214, 214);
}

@media (max-width: 420px) {
    .contact-us {
        width: 100%;
        height: auto;
    }
    .contact-us .contact_top {
        width: 100%;
        padding: 10px 30px;
        text-align: center;
    }
    .contact-us .contact_bottom {
        display: flex;
        flex-wrap: wrap;
    }
    .contact-us .contact_bottom .contact_details {
        margin: 30px 10px;
    }
    .contact-us .contact_bottom .contact_details .svg_file {
        margin-right: 10px;
    }
}

@media (max-width: 800px) {
    .contact-us {
        width: 100%;
        height: auto;
    }
    .contact-us .contact_top {
        width: 100%;
        padding: 10px 30px;
        text-align: center;
    }
    .contact-us .contact_bottom {
        display: flex;
        flex-wrap: wrap;
    }
    .contact-us .contact_bottom .contact_details {
        margin: 30px 10px;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    .contact-us .contact_bottom .contact_details .emails {
        margin-right: 38px;
    }
    .contact-us .contact_bottom .contact_details .calls {
        margin-right: 38px;
    }
}


/* footer */

.footers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(51, 95, 244);
    color: #fff;
    padding: 60px 20px;
    height: auto;
}

.footers .footer_logo a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    margin-bottom: 30px;
}

.footers .footer_social_media {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footers .footer_social_media>div {
    background-color: #fff;
    color: rgb(51, 95, 244);
    margin-right: 20px;
    padding: 10px;
    border-radius: 50%;
}

.footers .footer_social_media>div svg {
    width: 35px;
    height: 25px;
}

.footers .mobile_app {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 30px 10px;
}

.footers .mobile_app>div {
    margin-right: 30px;
}

.footers .footer_details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footers .footer_details h6 {
    margin: 10px 60px 10px 60px;
}

@media (max-width: 420px) {
    .footers {
        width: 100%;
        height: auto;
    }
    .footers .footer_details h6 {
        margin: 10px 13px 10px 10px;
    }
    .footers .footer_social_media>div {
        margin-right: 14px;
        padding: 6px;
    }
    .footers .mobile_app img {
        width: 150px;
        padding-left: 20px;
    }
}

@media (max-width: 800px) {
    .footers {
        width: 100%;
        height: auto;
    }
    .footers .footer_details h6 {
        margin: 10px 13px 10px 10px;
    }
    .footers .footer_social_media>div {
        margin-right: 14px;
        padding: 6px;
    }
    .footers .mobile_app img {
        width: 150px;
    }
}